div#sm_banner {
    border: 1px solid;
    height: 480px;
    padding: 9px;
    position: relative;
    width: 280px;
}
div#sm_banner div {
    font-family: inherit;
}
div#sm_banner a:visited, div#sm_banner a:link, div#sm_banner a:active, div#sm_banner a:hover {
	text-decoration: none; 
}
div#sm_banner a:hover {
	text-decoration: underline;
} 
div#sm_banner ul{
    margin: 0;
    padding: 0;
}
div#sm_banner ul li{
    list-style: none outside none;
}
div#sm_banner #encabezado {
	width: 280px;
	height: 80px;
}
div#sm_banner #encabezado a{
	display: table-cell;
	position: relative;
	width: 219px;
}
div#sm_banner #encabezado a:hover{
	text-decoration: none;
}
div#sm_banner #encabezado .titulo{
	float: left;
	height: 20px;
	margin: 10px 0;
}
div#sm_banner .modulo {
	width: 280px;
	height: 184px;
	float: left;
	border-bottom: 1px solid #CCCCCC;
}
div#sm_banner .titulo {
	font-size: 16px;
	height: 16px;
	display: block;
	vertical-align: middle;
	margin: 10px 0;
	width: 280px;
}
div#sm_banner .titulo span{
	float: left;
    font-size: 12px;
}
div#sm_banner .timeline {
	width: 280px;
	height: 109px;
	margin: 0px;
	overflow: auto;
	border-bottom: solid 1px;
	border-color: #CCCCCC;
	scrollbar-face-color: #ccccc;
	scrollbar-track-color:#20AB08;
	/* IE9 */
	-ms-scrollbar-face-color: #20AB08; 
	-ms-scrollbar-track-color: #ccccc; 	
}
/* Webkit scrollbar */
div#sm_banner .timeline::-webkit-scrollbar {
	width: 12px;
}
div#sm_banner .timeline::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
div#sm_banner .timeline::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #20AB08; 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
div#sm_banner .timeline::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* fin Webkit scrollbar */
div#sm_banner .timeline .item{
        font-size: 12px;
	border-bottom: 1px dotted #ccc;
	display: table-cell;
	float: left;
	margin-bottom: 10px;
	min-height: 50px;
	position: relative;
}
div#sm_banner .timeline .item:last-child{
	border-bottom: none;
	margin-bottom: 0px;
}
div#sm_banner .timeline .item .timelinetext {
	float: left;
	margin: 0 10px 10px 10px;
	width: 205px;
}
div#sm_banner .timeline .item .timelineimg {
	display: table-cell;
	vertical-align: top;
	float: left;
	margin: 0px;
}
div#sm_banner .timeline .item .timelineimg img {
        width: 40px;
        height: 40px;
}
div#sm_banner .btn{
        margin: 10px 0px 10px 0px;
	height: 20px;
	text-decoration: none;
        float: right;
}
div#sm_banner .btn.facebook,
div#sm_banner .btn.twitter{
    width: 280px;
}
div#sm_banner .btn a{
	text-decoration: none;
}
div#sm_banner .btn:hover{
	text-decoration: none;
}
div#sm_banner .btn .degrade {
	margin: 10px 0px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	padding: 0 10px;
}
div#sm_banner .btn_mas{
        margin: 10px 0px 10px 0px;
	height: 20px;
	text-decoration: none;
        float: right;
}
div#sm_banner .btn_mas .degrade {
	margin: 10px 0px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	padding: 0 10px;
}
div#sm_banner #encuesta ul{
    margin-bottom: 10px;
}
div#sm_banner #encuesta ul li{
    display: block;	
    font-size: 12px;
    height: 7px;
    list-style: none outside none;
    margin-bottom: 5px;
}
div#sm_banner #encuesta ul li:last-child{
    margin-bottom: 0px;
}
div#sm_banner #encuesta ul li input{
    display: block;
    float: left;
    margin: 0 5px 0 0;
}
div#sm_banner #encuesta .btn{
	text-align: right;
}
div#sm_banner #encuesta .derecha{
	float: right;
}
div#sm_banner #encuesta span.resultado{
    border: 1px solid #CCCCCC;
    display: block;
    height: 6px;
    width: 278px;
}
div#sm_banner #encuesta span.resultado span{
	background-color: #20AB08;
	display: block;
	height: 100%;
}
div#sm_banner #galeria{
	background-color:#333;
}
div#sm_banner #galeria #carrusel {
    display: block;
    float: left;
    height: 30px;
    overflow: hidden;
    position: relative;
    top: -16px;
    /*width: 223px;*/
    width: 280px;
}
div#sm_banner #galeria #carrusel img{
	width:58px;
	height:30px;
}
div#sm_banner #galeria #foto {
	width:270px;
	height:140px;
	padding-left:5px;
	padding-top:5px;
}	
div#sm_banner #galeria .tumbnail {
    background-color: #000000;
    float: left;
    height: 30px;
    margin-right: 5px;
    width: 58px;
}			
div#sm_banner #galeria .tumbnail:last-child {
	margin-right:0px;
}		
div#sm_banner #galeria .tumbnail.activo{
	border: 3px solid #09F;
	height: 24px;
}
div#sm_banner #galeria .tumbnail.activo img{
	height: 24px !important;
}
/* Botones del Módulo A */
div#sm_banner #galeria .jcarousel-container {
    padding: 0px;
}
div#sm_banner #galeria #zoom {
    height: 15px;
    left: 260px;
    margin-right: 5px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    top: -144px;
    vertical-align: middle;
    width: 15px;
}
div#sm_banner #galeria #zoom a:hover{
	background-color: #0CF;
}
div#sm_banner #galeria .jcarousel-clip{
    margin: 0 30px;
    overflow: hidden;
    position: relative;
    width: 220px;
}
div#sm_banner #galeria .jcarousel-prev {
    background: url("images/bot_back.png") no-repeat scroll left 2px transparent;
    float: left;
    height: 30px;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    top: -75px;
    width: 19px;
}
div#sm_banner #galeria .jcarousel-next {
    background: url("images/bot_forward.png") no-repeat scroll right 2px transparent;
    float: right;
    height: 30px;
    left: 0;
    margin-right: 5px;
    position: relative;
    top: -75px;
    width: 19px;
}
div#sm_banner #galeria .text_Mod_A {
	font-size:10px;
	color: #333333;
	letter-spacing: normal;
	line-height: normal;
}
div#sm_banner #galeria .jcarousel-prev-horizontal,
div#sm_banner #galeria .jcarousel-next-horizontal {
	font-size:12px;
	color: #FFF;
	background-color: #333;
	cursor: pointer;
	text-align:center;
}
div#sm_banner #galeria .jcarousel-prev-horizontal:hover,
div#sm_banner #galeria .jcarousel-next-horizontal:hover {
	font-size:12px;
	color: #FFF;
	background-color: #0CF;
	text-align:center;
}	
div#sm_banner #galeria .jcarousel-prev-horizontal:active,
div#sm_banner #galeria .jcarousel-next-horizontal:active {
	font-size:12px;
	color: #FFF;
	background-color: #0CF;
	text-align:center;
}
div#sm_banner #galeria .jcarousel-next-disabled,
div#sm_banner #galeria .jcarousel-prev-disabled{
	opacity: 0.5;
	cursor:default;
	background-color: #333333 !important;
}
div#sm_banner #formulario .cerrar{
	display: none;
}
div#sm_banner #formulario.mas .cerrar{
    border: 1px solid #CCCCCC;
    display: block;
    font-size: 10px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
div#sm_banner #formulario label{
	display: block;
	width: 100%;
}
div#sm_banner #formulario input,
div#sm_banner #formulario select{
    display: table-cell;
    font-size: 12px;
    height: 22px;
    margin-bottom: 10px;
    vertical-align: middle;
    font-family: inherit;
}
div#sm_banner #formulario select{
    width: 100%;
}
div#sm_banner #formulario label{
    font-size: 12px;
}
div#sm_banner #formulario label .radio{
	position: relative;
    top: 2px;
}
div#sm_banner #formulario input.text{
	width: 272px;
        height: 14px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-top-width: 3px;
        border-bottom-width: 3px;
}
div#sm_banner #formulario .btn{
	text-align: right;
}
div#sm_banner #formulario .pasoDos{
	display: none;
}
div#sm_banner #formulario.mas .pasoDos{
	display: block;
}
div#sm_banner #formulario.mas .btn{
	display: none;
}
div#sm_banner #formulario.mas{ 
    border: none;
}
div#sm_banner div#moduloA.sin_formulario {
    display: none;
}
div#sm_banner div#moduloB.con_formulario {
    height: 368px;
    position: relative;
}
div#sm_banner div#moduloA.con_formulario {
    height: 368px;
    position: relative;
}
div#sm_banner div#moduloB.sin_formulario {
    display: none;
}


div#sm_banner .menos{
}
div#sm_banner .menos_borde{
    border: none;
}
div#sm_banner #formulario .mensaje{
    display: table-cell;
    font-size: 16px;
    height: 184px;
    padding: 0 50px;
    text-align: center;
    vertical-align: middle;
}
div#sm_banner #pie {
    display: block;
    float: left;
    font-size: 12px;
    height: 27px;
    margin: 10px 0 0;
    text-align: right;
    vertical-align: middle;
    width: 280px;
}