@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Economica:700);

/*Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Site */
body {
	font-size: 1.2em;
	background-image: url(img/pattern.png);
	font-family: 'Titillium Web', Arial, sans;
}

/*@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}*/

/*
 * The main container div must provide the dimensions of the slides
 */
hr {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
    border: none;
    border-bottom: 1px solid #5DC5E8;
    border-top: 1px solid black;
}

header {
	width: 1000px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    font-family: Economica, serif;
}
header h1 {
	padding-left: 2%;
	font-size: 220%;
	font-weight: bold;
	text-shadow: 1px 1px 2px #ccc;
}
header h2 {
	padding-left: 2%;
	text-shadow: 1px 1px 2px #ccc;
}

#content {
	width: 1000px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	font-family: Economica, serif;
}

#content.inside {
	height: 120px;
}

#content article {
	background-color: #ccc;
	margin-bottom: 1%;
	box-shadow: 2px 2px 10px #000;
	margin-left: auto;
	margin-right: auto;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    color: #fff;
    text-shadow: 1px 1px #000;
}

.development {
	background: url(img/development.jpg) no-repeat;
}
.music {
    background: url(img/music.jpg) no-repeat;
}
.drawing {
	background: url(img/drawing.jpg) no-repeat;
}
.writing {
    background: url(img/writing.jpg) no-repeat;
}

#content article div {
	padding: 4%;
}
#content article h2 {
    position: absolute;
    font-size: 160%;
    bottom: 25px;
}
#content article h2 a {
    color: #eee;
    text-decoration: none;
}
#content article p {
	position: absolute;
	bottom: 10px;
	color: #eee;
}

#main {
	font-size: 15px;
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#main #contents {
	float: left;
	width: 720px;
    background-color: #ddd;
    box-shadow: 2px 2px 10px #000;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#main #contents article {
	padding: 20px;
	clear: both;
}
#main #contents article h2 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
}
#main #contents article .meta {
	color: #666;
	margin-bottom: 20px;
}
#main #contents .read {
	float: right;
}
#main #contents article p {
	line-height: 1.4;
}
#main #contents a {
	background-color: #666;
	color: #fff;
	text-decoration: none;
	padding: 0 4px;
}
#main #contents a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 0 4px;
}

#main aside {
	float: right;
	width: 250px;
    background-color: #ddd;
    box-shadow: 2px 2px 10px #000;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#main aside div {
	padding: 20px;
}
#main aside h3 {
	font-weight: bold;
	margin-bottom: 5px;
}
#main aside hr {
	border-bottom: 1px solid #fff;
	width: 90%;
}